In [12]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}
df = pd.DataFrame(data)

# Viewing data
print(df.head())        # Top rows
print(df.info())        # Info about columns
print(df.describe())    # Stats summary

# # Accessing columns
print(df['Name'])       # Single column
print(df[['Name', 'Age']])  # Multiple columns

# # Filtering
print(df[df['Age'] > 28])   # Filter rows

# # Adding new column
df['Salary'] = [50000, 60000, 70000]

print("the new df is:\n",df[['Name', 'Age','Salary']])

# # Handling missing values
df.dropna()           # Drop rows with missing values
df.fillna(0)          # Fill missing with 0

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
      Name  Age
1      Bob   30
2  Charlie   35
the new df is:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000